<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trevão Peças</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="./assets/Css/normalize.css" />
</head>
<body>
  <header>
    <h1>Detalhes do Produto</h1>
  </header>
  <main>
    <section class="detalhes-produto">
      <img src="../assets/img/abss10.webp" alt="Módulo De Freio Abs S10">
      <div class="descricao">
        <h2>Módulo De Freio Abs S10</h2>
        <p>Preço: R$ 980,00</p>
        <p>Descrição: Modulo Abs GM S10  2014
          Modulo Usado, em estado de novo,
          Enviamos para todo o Brasil
        </p>
        <a href="../sucesso.html" class="comprar">Comprar Agora</a>
        <a href="../index.html" class="voltar">Voltar</a>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2024 Loja Oficial Trevão Peças. Todos os direitos reservados.</p>
  </footer>
</body>
</html>