<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trevão Peças</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="./assets/Css/normalize.css" />
</head>
<body>
  <header>
    <h1>Detalhes do Produto</h1>
  </header>
  <main>
    <section class="detalhes-produto">
      <img src="../assets/img/bombaAltaS10.webp" alt="Bomba Injetora Alta Pressão Gm S10 2.8 Diesel 2014 2015 2016">
      <div class="descricao">
        <h2>Bomba Injetora Alta Pressão Gm S10 2.8 Diesel 2014 2015 2016</h2>
        <p>Preço: R$ 2.000,00</p>
        <p>Descrição: Bomba De Alta S10 2.8 2014
          Está bomba é testada antes de ser vendida,
          Damos garantia de 3 Meses,
          Enviamos para todo o Brasil
        </p>
        <a href="../sucesso.html" class="comprar">Comprar Agora</a>
        <a href="../index.html" class="voltar">Voltar</a>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2024 Loja Oficial Trevão Peças. Todos os direitos reservados.</p>
  </footer>
</body>
</html>