<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trevão Peças</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="./assets/Css/normalize.css" />
</head>
<body>
  <header>
    <h1>Detalhes do Produto</h1>
  </header>
  <main>
    <section class="detalhes-produto">
      <img src="../assets/img/jeetcoolertoro.webp" alt="Kit Jet Cooler Compass Toro Commander 2022 A 2024">
      <div class="descricao">
        <h2>Kit Jet Cooler Compass Toro Commander 2022 A 2024</h2>
        <p>Preço: R$ 499,90 </p>
        <p>Descrição: Jeet Cooler Orignal da Toro, Compass 2022 a 2024
          Produto em Perfeito estado de conservação.
          3 Meses de garantia,
          Produto Usado,
          Enviamos para todo o Brasil
        </p>
        <a href="../sucesso.html" class="comprar">Comprar Agora</a>
        <a href="../index.html" class="voltar">Voltar</a>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2024 Loja Oficial Trevão Peças. Todos os direitos reservados.</p>
  </footer>
</body>
</html>